PORT=5173

DATABASE_URL="file:./dev.db"

# 会话加密密钥
SESSION_SECRET='****'

# Google认证
CLIENT_URL='http://localhost:5173'
GOOGLE_CLIENT_ID='****'
GOOGLE_CLIENT_SECRET='****'

# API GraphQL URL
API_GQL_URL='http://localhost:5173/api/graphql'